*{
    margin: 0;
    padding: 0;
}

.main{
    @extend %formatoMain;
    h1{
        font-size: 3rem;
        color: #c4302b;
    }
}

@import './secciones/header';
@import './secciones/footer';
@import './secciones/home';
@import './secciones/contacto';
@import './secciones/liveSet';
@import './secciones/releases';
@import './secciones/media';
@import './variables/extend';
@import './variables/mixin';