*{
    margin: 0;
    padding: 0;
}
/*estilo general que se repite en toda la pagina*/
.main{
    @extend %formatoMain;
    h1{
        margin-top: 2rem;
        font-size: 3rem;
        color: #c4302b;
    }
}

@import './secciones/header';
@import './secciones/footer';
@import './secciones/home';
@import './secciones/contacto';
@import './secciones/dates';
@import './secciones/releases';
@import './secciones/media';
@import './variables/extend';
@import './variables/mixin';

@media (max-width:425px)
{
    .main{
        h1{
            font-size: 2.7rem;
        }
    }
}