/*mixin para botones*/

@mixin btnNav ($colorFondo,$colorHover) {
    background-color: $colorFondo;
    border-radius: 12px;
        transition: 0.5s;
        &:hover {
            background-color: $colorHover;
        };        
}