.contacto {
    @extend %form;

    label {
        color: white;
        font-weight: bold;
    }

    button {
        background-color: #c4302b;
        border-color: #c4302b;
        transition: 1s;

        &:hover {
            background-color: rgb(255, 116, 116);
            ;
            border-color: rgb(255, 116, 116);
            ;
        }
    }

    input[type="checkbox"]:checked {
        background-color: #c4302b;
        border: #c4302b;
    }
}


@import './variables/extend';

@media (max-width:425px) {
    .contacto {
        label {
            font-size: 14px;
        }
    }

}