@import './variables/mixin';

.footer {
    background-color: rgb(26, 26, 26);
    height: 6vh;
    width: 100%;    
}

.bottonMenu {
    height: 100%;
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    
    li {
        @include btnNav(rgb(26, 26, 26), rgb(41, 41, 41));
        display: inline-block;
        padding: 10px;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        &:hover {
            color: #c4302b;
        };
    }    
}

@media (max-width:425px){
    .bottonMenu{
       a{
            font-size:0;
        }
    }
}