/*estilos de seccion home*/
.home {
    padding: 20vh;
    margin: auto;
    text-align: center;

    p {
        font-size: 2rem;
        color: white;
        min-width: 300px;
    }

    iframe {
        min-width: 300px;
    }
}

@media (max-width:768px) {
    .home {

        padding: 10vh;

        p {
            font-size: 1.5rem;
            color: white;
        }


    }
}

@media (max-width:425px) {
      .home {

        padding: 2vh;

        p {
            font-size: 1rem;
            color: white;
        }

        iframe {
            visibility: hidden;
        }
        flex-direction: column-reverse;

    }
}

@media (max-width:375px) {
    .home {
        padding: 0;
        padding-top: 2vh;
        margin:auto;
        p {
            font-size: 1rem;
            min-width: 200px;
            color: white;
        }
        iframe {
            visibility: hidden;
        }
    }
}