/*estilos de seccion releases*/
.release {
        div {
        padding: 1rem;
    }
}

@media (max-width:425px) {
    .release{
        iframe{
            width: 250px;
            height: 140px;
        }
    }
}

@media (max-width:375px) {
    .release {        
        div {
        padding: 0rem;
        padding-bottom: 1rem;
    }
}
}